# ignore file
node_modules/
build/
test/
tests/
__tests__/
coverage/
docs/
examples/
src/
lib/
# Config & log files
*.log
*.gz
*.zip
*.map
.yarn/
.vscode/
.idea/
.eslintcache
.prettiercache
.tsconfig.json
.package.json
# GitHub related files
.github/
.gitignore

# Env & private files
.env
.env.*

# docs
docs/
jsdoc.js
